<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pliz Tattoo Administration</title>
        <meta name="description" content="Pliz Tattoo Administration">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" href="{{ app.request.baseUrl }}/web/img/favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="{{ app.request.baseUrl }}/web/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app.request.baseUrl }}/web/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ app.request.baseUrl }}/web/css/main-admin.css">

        <script src="{{ app.request.baseUrl }}/web/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body id="login">

        <div class="container">

            <div class="row-fluid">
                <div class="span4 offset4">
                    <h1>Pliz Tattoo</h1>

                    <form id="form-login" action="{{ path('admin_login_check') }}" method="post">
                        <strong>Username</strong>
                        <input type="text" name="_username" required="required" placeholder="Scrivi la tua password"/>

                        <strong>Password</strong>
                        <input type="password" name="_password" value="" required="required" placeholder="Scrivi la tua password"/>
                        <br/>
                        <br/>

                        <input type="submit" value="Accedi" class="btn btn-large btn-info"/>
                    </form>
                </div>
            </div>
        </div> 

        {% block javascript %}
        <script src="{{ app.request.baseUrl }}/web/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="{{ app.request.baseUrl }}/web/js/vendor/knockout-2.2.1.js"></script>
        <script src="{{ app.request.baseUrl }}/web/js/vendor/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>